#main {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

.shown {
  display: none;
}

#page {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  width: max(800px, 60vw);
}

.is-invalid {
  border-color: red;
}

h1 {
  align-self: left;
  font-size: 2rem;
}

#form {
  margin-bottom: 1rem;
  width: 100%;
}

.links {
  align-self: left;
}

input,
textarea {
  border: 0.15rem solid #696969;
  border-radius: 5px;
  margin-bottom: 2%;
  padding: 0.5rem;
  font-size: 0.8rem;
  resize: none;
  width: 100%;
}

form input[type="submit"] {
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--main-color);
}

::placeholder {
  font-size: 0.8rem;
  font-style: italic;
  vertical-align: center;
  font-family: Poppins, sans-serif;
}

/*Scrollbar*/
/*
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--bg-white-color);
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 16px;
}
*/

/*Dark Mode*/
@media (prefers-color-scheme: dark) {
  h1 {
    color: white;
  }
  ::placeholder {
    color: #dfdfdf;
  }

  input,
  textarea {
    background-color: var(--bg-black-color);
    color: var(--bg-white-color);
  }
}

@media only screen and (max-width: 800px) {
  #page {
    width: 96%;
  }
  input,
  textarea {
    width: 90%;
  }
}
