button {
  padding: 10px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

.top-bar{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 3rem;
  justify-items: center;
  align-items: center;
}

.abilities-card{
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 50vw;
  max-width: 50rem;
  height: 50vh;
  border: 2px solid var(--main-color);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 4rem 1fr;
}

.abilities-list{
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: scroll;
}

.abilitie{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

}

.abilitie label{
  justify-self: start;
  margin-left: 1rem;
}

.abilitie input{
  transform: scale(1.5);
  accent-color: var(--main-color);
}

@media only screen and (max-width: 500px) {
  .abilities-card{
    width: 90vw;
  }


  }