:root {
  --grayColor: #595550;
  --lightOrangeColor: #feb84e;
}

.seat {
  position: relative;
  height: 20%;
  width: 99%;
  margin: 0% 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

svg {
  width: 100%;
}

.seat svg {
  fill: var(--bg-black-color);
  height: 100%;
}

.seat:hover {
  cursor: pointer;
}

.seat:hover svg {
  fill: var(--main-color);
}

.seat.reserved:hover svg {
  cursor: not-allowed;
  fill: none;
}

.seat.selected svg {
  fill: var(--main-color);
}

.seat.reserved svg path,
.seat.reserved p {
  stroke: var(--grayColor);
  color: var(--grayColor);
}

.seat.reserved svg path:last-child {
  fill: var(--grayColor);
}

#seats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 1.5rem;
}

.hallway {
  opacity: 0;
  height: 20%;
}

.error {
  display: none;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-style: italic;
  font-weight: bold;
}

.seatNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-weight: bold;
  font-size: 1.2em;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0;
  width: 4.55%;
  height: 98%;
}

.reverse .seat {
  transform: rotate(180deg);
}

.reverse .seat p {
  transform: rotate(180deg) translate(50%, 50%);
}

.baggageRow svg,
.tableRow svg {
  height: 40%;
}

.row.baggageRow,
.row.tableRow {
  margin: 4px 5px;
}

.baggageRow.medium {
  width: 8.3%;
}

.baggageRow.large {
  width: 12.8%;
}

.custom.large {
  width: 15%;
}

.custom.large .halfRow > div {
  width: 41%;
}

.custom .seat {
  height: 50%;
}

.halfRow {
  display: flex;
  height: 40%;
}

.halfRow svg {
  height: 100%;
}

.endRow {
  align-items: center;
  margin: 0 0 0 5px;
  width: 16.53%;
  height: 101%;
}

.exitRow {
  align-items: center;
  width: 7.28%;
}

.exitRow svg:last-child {
  transform: rotate(180deg);
}

.downStairsRow {
  margin: 0 0 0 2.5%;
}

.downStairsRow svg {
  height: 38%;
}

.upStairsRow {
  margin: 0 0 0 5px;
  background-color: var(--grayColor);
}

.upStairsRow svg {
  height: 100%;
}

.upStairsRow,
.downStairsRow {
  height: 101%;
  width: 16.54%;
}

.endRow svg:last-child {
  height: 38%;
}

.wagon {
  display: flex;
  border: 6px solid white;
  border-radius: 50px;
  padding-left: 2.8%;
  height: 40vh;
  overflow: hidden;
}

p.none {
  display: none;
}

button.disabled,
#continueButton.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#buttonContainer {
  margin-top: 2%;
  margin-bottom: 20px;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#buttonContainer button,
#continueButton {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  transition-duration: 0.5s;
  margin: 0 auto;
}

#buttonContainer button:hover,
#continueButton:hover {
  cursor: pointer;
  scale: 1.1;
  transition-duration: 0.5s;
}

#continueButton {
  margin-top: 20px;
}

#seatChoiceSection {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#seatInfoSection {
  width: 75%;
  margin-top: 20px;
}

fieldset {
  background-color: var(--bg-black-second-color);
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 50%;
  filter: drop-shadow(10px 10px 8px rgb(0, 0, 0, 0.3));
}

fieldset > label {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

fieldset #name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  gap: 1rem;
}

fieldset #first-name,
#last-name {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

fieldset #name label {
  color: white;
}

fieldset input {
  border-radius: 5px;
  border: none;
}

@media screen and (max-width: 800px) {
  fieldset #name {
    flex-direction: column;
    width: 100%;
  }

  fieldset #first-name,
  #last-name {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: light) {
  .seat svg {
    fill: none;
  }

  .seat p {
    color: var(--main-color);
  }

  .seat:hover p {
    color: white;
  }
  .wagon {
    border-color: var(--main-color);
  }
  .seat.selected p {
    color: white;
  }
  .baggageRow svg rect:first-child {
    fill: var(--lightOrangeColor);
  }
  .tableRow svg rect {
    fill: var(--lightOrangeColor);
  }
  .tableRow svg path {
    stroke: var(--main-color);
  }
  .endRow svg path:first-child {
    fill: var(--lightOrangeColor);
  }
  .endRow svg:first-child path {
    stroke: var(--main-color);
  }
  .downStairsRow svg path:first-child {
    fill: var(--lightOrangeColor);
  }
  .exitRow svg path {
    stroke: var(--main-color);
  }
  .upStairsRow svg path:first-child {
    fill: var(--lightOrangeColor);
  }
  .upStairsRow svg {
    fill: var(--lightOrangeColor);
    stroke: var(--lightOrangeColor);
  }
}
