@media (prefers-color-scheme: dark) {
  .cgu a {
    color: var(--bg-white-color);
  }
  .cgu h1 {
    background-color: var(--main-color);
  }
  .cgu h2 {
    color: var(--main-color);
  }

  .cgu h3 {
    color: var(--second-color);
  }
}

.cgu {
  margin: 0 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cgu h1 {
  font-size: 170%;
  width: fit-content;
  padding: 1vh;
  border-radius: 1em;
  text-align: center;
}
