:root{
--main-color: #FF9B05;
--second-color: #FF6B08;
--bg-white-color: #EFEDED;
--bg-black-color: #1E1E1E;
--bg-black-second-color: #4F3510;
--radius: 8px;
--margin: 4px;
}

body {
	font-family: Poppins, sans-serif;
	background-color: var(--bg-black-color);
	color: var(--bg-white-color);
	margin:0px;
	display: flex;
	flex-direction: column;
	min-height: 100vh ;
	
}

#main
{
	flex-grow: 1;
}

.alert
{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	
}

.alert strong
{
	padding-top: 10%;
	padding-bottom: 5%;
}

.cgu
{
	margin: 6%;
	
}

.cgu a
{
	color :white;
}

.cgu h1
{
	font-size: 170%;
	background-color: var(--main-color);
	width: fit-content;
	padding: 1vh;
	border-radius: 1em;
}

.cgu h2
{
	color:var(--main-color);
}

.cgu h3
{
	color:var(--second-color);
}