:root {
  --light-main-color: #ffc34d;
  --main-color: #ff9b05;
  --second-color: #ff6b08;
  --third-color: #ff3d00;
  --txt-white-color: #ffffff;
  --bg-white-color: #efeded;
  --bg-black-color: #1e1e1e;
  --bg-black-second-color: #815a22;
  --bg-header-color: #151616;
  --border-input: #343434;
  --radius: 8px;
  --margin: 4px;
  --hover: 0.5s;
}

img {
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none;
  /* Internet explorer depuis la version 10 et Edge */
  user-select: none;
  /* Propriété standard */
  pointer-events: none;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex-grow: 1;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  align-self: center;
  text-align: center;
  padding-bottom: 2%;
}

.alert {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.alert-form {
  border: 2px solid red;
  background-color: #ff000069;
  border-radius: 5px;
  padding: 5px 30px;
}

.alert-form.success {
  background-color: #00ff0069;
  border: 2px solid rgb(0, 199, 0);
}

.go-up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  width: 75px;
  height: 75px;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden-go-up {
  transform: rotate(180deg) translateX(-50vw);
}

.footer-go-up {
  position: fixed;
  bottom: 175px;
  right: 10px;
  z-index: 100;
  width: 75px;
  height: 75px;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-up:hover {
  cursor: pointer;
  animation: animation-arrow-go-up 0.5s ease-in-out infinite alternate;
}

.footer-go-up:hover {
  cursor: pointer;
  animation: animation-arrow-go-up 0.5s ease-in-out infinite alternate;
}

@keyframes animation-arrow-go-up {
  0% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg) translateY(20px);
  }

  100% {
    transform: rotate(180deg);
  }
}


.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links a {
  /* margin-left: 3%; */
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 0;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  color: #000;
  width: 100%;
  text-align: center;
}

.links a::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.links a:hover::before {
  bottom: 0;
  height: 100%;
}

.links a:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.alert strong {
  padding-top: 5%;
  padding-bottom: 5%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-black-color);
    color: var(--bg-white-color);
  }

  html {
    overflow-x: hidden;
  }

  .links a {
    color: white;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color);
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 40px;
  border: 2px solid var(--main-color);
}

::-moz-selection {
  background-color: var(--main-color);
  color: white;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .go-up {
    display: none;
  }
}