footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80%;
  background-color: var(--main-color);
}

footer section {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
}

footer section nav {
  display: flex;
  width: 33.3%;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  color: var(--txt-white-color);
}

footer section nav h2,
footer section nav a,
footer p {
  color: var(--txt-white-color);
}

footer section nav a {
  font-size: 78%;
}
