footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 90%;
  background-color: #333;
  margin-top: 10px;
}

footer section {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
}

footer section nav {
  display: flex;
  width: 33.3%;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;

  align-self: flex-start;
}

footer section nav h2 {
  color: var(--main-color);
  font-size: 150%;
}

footer section nav a,
footer p {
  color: white;
}

footer section nav a {
  font-size: 78%;
}

#license {
  padding-top: 2%;
}

#copyright {
  user-select: none;
  margin: 0.5em 0;
}

@media only screen and (max-width: 800px) {
  footer {
    text-align: center;
  }
}