footer
{
    background-color: #FF9B05;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
}

footer section 
{
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    
}

footer section nav
{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

footer section nav a
{
    color:white;
    font-size: 78%;
}