.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: var(--main-color);
  font-size: 2.5em;
}

.content a .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main {
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.links a {
  color: var(--main-color);
}

@media (prefers-color-scheme: dark) {
  .links a {
    color: var(--txt-white-color);
  }
}

:root {
  --radius: 8px;
  --margin: 4px;
  --hover: 0.5s;
}

.main {
  margin: var(--margin);
}

article {
  background-color: var(--bg-black-color);
  border-radius: var(--radius);
  width: 60vw;
  /*max-width: 900px;*/
  /*height: 300px;*/
  display: flex;
  margin-left: var(--margin);
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #4f3510;
  border-radius: 15px;
  padding: 1% 1% 1% 1%;
  filter: drop-shadow(10px 10px 8px rgb(0, 0, 0, 0.3));
}

article:nth-child(2n) {
  align-self: flex-start;
  margin-left: 2%;
}

article:nth-child(2n + 1) {
  align-self: flex-end;
  margin-right: 2%;
}

article:first-child {
  align-self: center;
}

/*
article > img {
  width: 35%;
  height: auto;
  max-height: 90%;
  margin-top: auto;
  margin-bottom: auto;
  margin: var(--margin2);
}*/

article div.arti {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: var(--margin2);
  margin-right: var(--margin2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arti>a {
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: var(--radius);
  color: white;
  background-color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  padding: var(--margin);
  text-transform: capitalize;
  padding-left: var(--margin);
  display: flex;
  justify-content: space-between;
}

.btn p {
  margin: 0px;
  margin-left: var(--margin);
  margin-top: auto;
  margin-bottom: auto;
}

.btn img {
  width: 15px;
  height: auto;
}

article div.arti .btn {
  width: 120%;
}

article img {
  height: auto;
  width: 30vw;
  margin: 5px;
}

.arti p {
  text-align: justify;
}

.arti span {
  color: var(--main-color);
}

/* mobile */
@media (max-width: 800px) {
  #main {
    gap: 30px;
  }

  article {
    padding: 2% 2% 2% 2%;
    flex-wrap: wrap;
    width: 80vw;

    margin: 0px;
  }

  article:nth-child(1) {
    margin-top: 30px;
  }

  article:nth-child(n) {
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  article div.arti .btn {
    margin: var(--margin);
    width: min-content;
  }

  .btn img {
    margin-left: 10px;
  }

  article div.arti {
    width: 100%;
  }

  article img {
    width: 70vw;
    margin: auto;
  }
}

@media (prefers-color-scheme: light) {
  article {
    background-color: rgba(66, 57, 57, 0.3);
  }
}