.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: var(--main-color);
  font-size: 2.5em;
}

.content a .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main {
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.links a {
  color: var(--main-color);
}
@media (prefers-color-scheme: dark) {
  .links a {
    color: var(--txt-white-color);
  }
}

:root {
  --radius: 8px;
  --margin: 4px;
  --hover: 0.5s;
}

.main {
  margin: var(--margin);
}

article {
  background-color: var(--bg-black-color);
  border-radius: var(--radius);
  width: 80vw;
  /*max-width: 900px;*/
  /*height: 300px;*/
  display: flex;
  margin-left: var(--margin);
  margin-top: 30px;
  margin-bottom: 30px;
}

article:nth-child(2n) {
  align-self: flex-start;
  margin-left: 2%;
}

article:nth-child(2n + 1) {
  align-self: flex-end;
  margin-right: 2%;
}
article:first-child {
  align-self: center;
}
article > img {
  width: 35vw;
  height: auto;
  /*max-width: 390px;*/
  max-height: 90%;
  margin-top: auto;
  margin-bottom: auto;
  margin: var(--margin2);
}

article div.arti {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: var(--margin2);
  margin-right: var(--margin2);
}

.arti > a {
  text-decoration: none;
}
.btn {
  border: none;
  border-radius: var(--radius);
  color: white;
  background-color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  padding: var(--margin);
  text-transform: capitalize;
  padding-left: var(--margin);
  display: flex;
  justify-content: space-between;
}

.btn p {
  margin: 0px;
  margin-left: var(--margin);
  margin-top: auto;
  margin-bottom: auto;
}

.btn img {
  width: 15px;
  height: auto;
}

article div.arti .btn {
  width: 80%;
}

article img {
  height: 25em;
  width: auto;
}

.arti p {
  text-align: justify;
}

.arti span {
  color: var(--main-color);
}

/* mobile */
@media (max-width: 800px) {
  article:nth-child(n) {
    flex-wrap: wrap;
    margin: auto;
    margin-top: var(--margin2);
    margin-bottom: var(--margin2);
  }
  .btn {
    margin: var(--margin2);
  }
}
