form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 0.15rem solid #696969;
  border-radius: var(--radius);
  font-size: 1.2em;
  color: #696969;
}

form input[type="submit"] {
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

form div {
  position: relative;
}

form i {
  position: absolute;
  right: 15px;
  color: black;
  top: 33%;
}

#title {
  font-size: 5em;
  font-weight: 600;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
  color: var(--main-color);
}

.links {
  margin-top: 5%;
  text-align: center;
}

.smallLink a {
  color: rgb(180, 180, 180);
  text-decoration: none;
}
.smallLink a:hover {
  text-decoration: underline;
}
.is-valid {
  border-color: green;
}

.is-invalid {
  border-color: red;
}

#info {
  display: none;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: var(--main-color);
}

* {
  box-sizing: border-box;
}
