:root{
	text-transform: capitalize;
	border-radius: 15px;
}

#title{
	margin-left: 10px;
}

fieldset{
	border-radius: 15px;
}

select{
	background-color: var(--bg-black-color);
	color: white;
	border-radius: 15px;
	width: fit-content;


}

.control_pannel{
	width: 50vw;
	margin: 5px;
}

.select_option{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
}

.loading{
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderLoading;
	animation-timing-function: linear;
	background: linear-gradient(to right, 
		var(--bg-black-color) 8%, #dddddd 18%, var(--bg-black-color) 33%);

}

@keyframes placeHolderLoading {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 9em 0;
  }
}