:root{
	text-transform: capitalize;
	border-radius: 15px;
}

#title{
	margin-left: 10px;
}

fieldset{
	border-radius: 15px;
}

select{
	background-color: var(--bg-black-color);
	color: white;
	border-radius: 15px;
	width: fit-content;


}

.control_pannel{
	width: 50vw;
	margin: 5px;
}

.select_option{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
}

.loading{
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderLoading;
	animation-timing-function: linear;
	background: linear-gradient(to right, 
		var(--bg-black-color) 8%, #dddddd 18%, var(--bg-black-color) 33%);

}

@keyframes placeHolderLoading {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 9em 0;
  }
}






/* css for good platform */
.hidden{
	opacity: 0;
	z-index: -1;
}

div.aiguillage{
	/*
	position: relative;
	width: 100%;
	height: 80vh;
	*/
	background-color: rgb(0,0,10);
	overflow:auto;
	color:  #E1DB4A;
}

div.suport_rail{
	position: relative;
	width: 100%;
	height: 100%;
}
div.list_quai{
	display: grid;
	height: 100%;
	width: 84%;
	margin-left:8% ;
	margin-right:8% ;
	grid-auto-rows: minmax(100px, auto);


}
div.list_quai .quai{
	z-index: 1;
	background-color: red;
	margin: auto;
	height: 5px;
	width: 70%;
}

div.list_quai .quai.free{
	background-color: rgb(0,255,0);

}


.quai div.quai_info{
	position: relative;
	display: flex;
	flex-direction: row;
	top:  -40px;
	height: 40px;


}

.quai div.quai_info .train_icon_box{
	height: 30px;
	min-width: 70px;

	margin-left: 10px;
	overflow: hidden;

}
.quai div.quai_info .logo_train{
	opacity: 0;
	height: 100%;
	width: auto;
	
}

.quai div.quai_info .logo_train.visible_train.no_train {
	animation: 1s cubic-bezier(0.65, -0.03, 0.67, 0.79) 0s  train_in_quai_out;
	transform: translateX(-100%);

}

.quai div.quai_info .logo_train.visible_train {
	animation: 1s cubic-bezier(0, 0, 0.25, 0.99) 0s  train_in_quai;
	opacity: 1;
	transform: translateX(0%);
}
.quai label{
	margin-left: 10px;
	font-weight: bold;
	font-size: 30px;
	

}

.quai label.train_number{

	font-weight: 500;
}

.quai button.btn_actif{
	margin-left: 5px;
	background-color: black;
	border: 3px solid red;
	color:  red;
	height: 30px;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 5px;
	text-decoration: line-through;

}

.quai button.btn_actif:active{
	background-color: red;
	color: black;

}

.quai button.btn_actif.actif{
	border: 3px solid rgb(0,255,0);
	color:  rgb(0,255,0);
	text-decoration: none;

}

.quai button.btn_actif.actif:active{
	background-color: rgb(0,255,0);
	color: black;
}

div#reference{
	position: absolute;
	left: 0px;
	top: 0px;

}
div.start{
	background-color: rgb(0,255,0);
	position: absolute;
	left: 0px;
	top: 20vh;
	height: 5px;
}

div.finish{
	background-color: rgb(0,255,0);
	position: absolute;
	right: 0px;
	top: 20vh;
	height: 5px;
}

.arrow{

  stroke:rgb(0,255,0);
  stroke-width:5; 


}

svg.rail{
	position: absolute;
	top: 0px;
	height:100%;
	width:100%;

}

div.menu_gestion_quai{
	height: 20vh;
	display: flex;
	flex-direction: row;
}
div.menu_gestion_quai div.left{
	margin-left: auto;
	width: 30%;
	height: 100%;
}
div.menu_gestion_quai div.left form{
	display: inline-flex;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
	flex-wrap: wrap;

}

div.menu_gestion_quai div.left div.gare_status_switch{
	position: relative;
	margin-top: auto;
	/*margin-bottom: auto;*/
	margin-bottom: 10px;

}

div.menu_gestion_quai input[type="radio"]{
	position: absolute;
	padding: 5px;
	width: 100%;
	height: 150%;
	margin: 0;
	opacity: 0;
	top: -8px;
}

div.menu_gestion_quai  label.radio{
	font-size: 24px;
	text-transform: uppercase;
	border: 5px solid rgb(50,50,50);
	padding: 2px;
	font-weight: bold;
	color: rgb(50, 50, 50);
	user-select: none;

}

div.menu_gestion_quai input[type="radio"]:checked+label.radio{
	border: 5px solid green;
	color: green;
}

div.menu_gestion_quai input[type="radio"]:checked+label.radio#manu{
	border: 5px solid yellow;
	color: yellow;
}

div.menu_gestion_quai div.up_comming_train{
	background-color: rgb(0, 0, 10);
	border-radius: 10px;
	height: 100%;
	width: 40%;
	overflow: auto;
}


div.menu_gestion_quai div.up_comming_train div.UCT_line{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgb(0, 0, 10);
	/*border-bottom: 2px solid yellow;*/
	border-radius: 5px;
	margin: 3px;
	/*margin-left: 5px;
	margin-right: 5px;*/
	font-weight: bold;
	color: #E1DB4A;
	animation: 1s cubic-bezier(0, 0, 0.25, 0.99) 0s  in_coming_train;

}

div.menu_gestion_quai div.up_comming_train div.UCT_line:nth-child(1){
	border-bottom: 2px solid yellow;
	border-radius: 0px;
	margin: 4px;

}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

::-webkit-scrollbar-thumb {
  background: rgba(20, 20, 60,0.8);
  border-radius: 15px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}





div.menu_gestion_quai div.up_comming_train div.UCT_line.UCT_line_title{
	animation: none;
}


div.menu_gestion_quai div.up_comming_train div.UCT_line label{
	margin: 5px;


}

div.menu_gestion_quai div.up_comming_train div.UCT_line select{
	margin: 5px;
	background-color: rgb(0, 0, 10);
	color: #E1DB4A;
	border-radius: 5px;
	border:  none;
	font-weight: bold;

}
div.menu_gestion_quai div.up_comming_train div.UCT_line option{
	font-weight: bold;
}








@keyframes train_in_quai { 
	from { 
		transform: translateX(-100%); 
		opacity: 0;
	} 
	to { 
		transform: translateX(0%); 
		opacity: 1;
	}  
}

@keyframes train_in_quai_out { 
	from { 
		transform: translateX(0%); 
		opacity: 1;
	} 
	to { 
		transform: translateX(100%); 
		opacity: 0;
	}  
}

@keyframes in_coming_train { 
	0% { 
		transform: translateX(-100%); 
		opacity: 0;
	} 
	100% { 
		transform: translateX(0%); 
		opacity: 1;
	}  
}