.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 100%;
}

input {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 15px;
  color: white;
  padding: 0.5rem;
}

#form {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
select {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 15px;
  color: white;
  padding: 0.5rem;
  background-image: none;
}

select option {
  background-color: var(--main-color);
  color: white;
}

input[type="date"] {
  font-family: Poppins, sans-serif;
  cursor: pointer;
}

input:focus,
select:focus {
  background-color: var(--main-color);
}

.tickets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  margin: 2% auto;
}

#main > img {
  width: 25%;
  height: 25%;
  padding-top: 7rem;
}

.ticket-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2.5px solid var(--main-color);
  border-radius: 15px;
}
.ticket-container.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.ticket-container > div:first-child {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ticket-container > div:first-child > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ticket-container > div:first-child > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: bold;
}
.ticket-container > div:first-child > div:last-child img,
.ticket-container > div:first-child > div:last-child p {
  align-self: center;
}
.ticket-container > div:first-child > div:last-child img {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
}
.ticket-container > div:first-child > div:first-child div:first-child,
.ticket-container > div:first-child > div:first-child div:last-child {
  flex-grow: 1;
}
.ticket-container
  > div:first-child
  > div:first-child
  div:first-child
  p:first-child,
.ticket-container
  > div:first-child
  > div:first-child
  div:last-child
  p:first-child,
.ticket-container > div:nth-child(2) > p {
  font-weight: bolder;
  font-size: 200%;
}

.ticket-container > div:first-child > div:first-child div:nth-child(2) {
  border-top: 3px solid white;
  padding: 0 0.5rem;
  flex-grow: 0.5;
}

.ticket-container > div:last-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.ticket-container > div:last-child > form input {
  padding: 5% 20%;
  border: 2.5px solid var(--main-color);
  border-radius: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  border-radius: 0%;
  pointer-events: none;
  width: 30px;
  font-weight: bold;
}
.buttonNumber:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.buttonNumber {
  transition: 0.3s;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button {
  -o-appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#SeatCounterContainer {
  display: flex;
}
form div button {
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
}

form div button:first-child {
  border-radius: 15px 0 0 15px;
}

form div button:last-child {
  border-radius: 0 15px 15px 0;
}

/* Search bar */
.container {
  position: relative;
  width: 200px;
  border: 1px solid var(--main-color);
  border-radius: 15px;
}
.search {
  height: 20px;
  width: 85%;
  padding: 8px;
  display: block;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  border: 0;
}

.search:focus {
  outline: none;
  background-color: transparent;
}

.clear-search {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--main-color);
  font-size: 20px;
  font-style: normal;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid var(--main-color);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 96%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--main-color);
  border-bottom: 1px solid white;
  color: var(--txt-white-color);
}
.autocomplete-items div:hover {
  background-color: var(--bg-black-second-color);
}

#autocomplete-list {
  width: 80%;
  margin: 1px auto;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid var(--main-color);
  display: block;
}

@media (prefers-color-scheme: dark) {
  select option {
    background-color: var(--bg-black-color);
  }

  input {
    background-color: var(--bg-black-color);
  }

  select,
  input {
    background-color: transparent;
  }
}
