.content {
    background-color: black;
    width: 50%;
    height: 50%;
    color: white;
    margin: 0 auto;
    padding: 20px;
    border: 4px solid var(--second-color);
    border-radius: var(--radius);
}

.stations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.station {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 0;
    align-items: center;
}

.station .station-time {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.station .station-name {
    margin-left: 20px;
}

.content .header-ticket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.link-ticket-list {
    display: flex;
    justify-content: center;

}

.links-content .link-ticket-list {
    margin-top: 25px;
}

#title-ticket-list {
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
    display: flex;
    justify-content: center;
}

#title-trip {
    margin: 0;
}

p {
    margin: 0;
}

.colored {
    color: var(--main-color);
}

#separator {
    margin: 0 0 0 0;
    width: 100%;
    height: 5px;
    background-color: var(--main-color);
    border-radius: var(--radius);
    margin-top: 20px;
    margin-bottom: 20px;
}

.infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}