table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 70%;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

table tr {
  font-size: 20px;
  border: none;
}

table td {
  border: 1px solid #ddd;
}

table tr th {
  color: var(--txt-white-color);
  padding: 10px;
}

table tr:first-child {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

table tr th {
  background-color: var(--main-color);
  border: 1px solid #ddd;
}

table tr:nth-child(even) td:not(:last-child) {
  background-color: var(--border-input);
}

table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
  margin: 40px 0 20px;
}

#search {
  width: 50%;
  height: 30px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  padding: 8px;
  margin: 0 auto;
  display: block;
  background-color: var(--bg-black-color);
  color: var(--txt-white-color);
  font-family: Poppins, sans-serif;
  font-size: 20px;
}

#search:focus {
  outline: none;
}

#clear-search {
  position: absolute;
  right: 25%;
  top: 20%;
  cursor: pointer;
  color: var(--main-color);
  font-size: 20px;
  font-style: normal;
}

select {
  width: 75%;
  border: var(--main-color);
  background-color: var(--main-color);
  color: #fff;
  padding: 0.5rem;
}

form {
  display: flex;
}

#main>form {
  flex-direction: column;
}

#main>form div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

input {
  background-color: var(--main-color);
  color: #fff;

  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition-duration: 0.2s;
}

table select {
  border-end-start-radius: 15px;
  border-start-start-radius: 15px;
}

table input {
  border-end-end-radius: 15px;
  border-start-end-radius: 15px;
}

input:hover {
  background-color: #fff;
  transition-duration: 0.2s;
  color: var(--main-color);
}

form fieldset input[type="submit"] {
  padding: 10px 3rem;
  margin-bottom: 2%;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

form fieldset input[type="submit"]:hover {
  transform: scale(1.1);
}

#main>form {
  width: 25%;
}

form fieldset {
  border: 3px solid var(--main-color);
  border-radius: 15px;
}

form fieldset select {
  border-radius: 15px;

  margin: 1rem;
}

form fieldset legend {
  font-weight: bold;
  font-size: 150%;
}


.fired-button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  transition-duration: 0.2s;
}

.fired-button:hover {
  scale: 1.1;
  transition-duration: 0.2s;
  cursor: pointer;
}

tr th:last-child {
  background-color: transparent;
  border: none;
}

tr th:last-child,
tr td:last-child {
  width: 7%;
}

tr td:last-child {
  background-color: transparent;
  border: none;
}

@media (prefers-color-scheme: light) {
  table tr:nth-child(even) td:not(:last-child) {
    background-color: rgb(110, 107, 107);
    color: #fff;
  }
}

@media screen and (max-width: 1500px) {
  table {
    width: 100%;
  }

  #search {
    width: 100%;
  }

  #clear-search {
    right: 0;
  }
}

@media screen and (max-width: 1250px) {
  table td {
    font-size: 18px;
  }

  #main>form {
    width: 75%;
  }
}

@media screen and (max-width: 1100px) {
  table td {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  table td {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  table th {
    font-size: 16px;
  }

  table td {
    font-size: 12px;
  }

  table td {
    padding: 5px;
  }
}

@media screen and (max-width: 700px) {
  table th {
    font-size: 14px;
  }

  table td {
    font-size: 10px;
  }

  table td {
    padding: 3px;
  }
}

@media screen and (max-width: 600px) {
  table th {
    font-size: 12px;
  }

  table td {
    font-size: 8px;
  }

  table td {
    padding: 0;
  }

  table select {
    border-end-start-radius: 0;
    border-start-start-radius: 0;
    border: none;
  }

  table input {
    border-end-end-radius: 0;
    border-start-end-radius: 0;
  }
}

@media screen and (max-width: 500px) {
  table th {
    font-size: 12px;
  }

  table td {
    font-size: 7px;
  }

}