button {
  margin-top: 2em;
  padding: 10px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

#main h1 {
  padding-left: 1em;
  font-size: 4em;
  color: var(--main-color);
}

#main h2 {
  display: block;
  text-align: center;
  font-size: 3em;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 50%;
  border: 1px solid var(--main-color);
  font-size: 12px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

table tr {
  font-size: 20px;
}

table,
table tr,
table td,
table th {
  border: 1px solid var(--main-color);
}

table tr:first-child {
  font-size: 25px;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--txt-white-color);
}

table td {
  padding: 8px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  table,
  table tr,
  table td,
  table th {
    border: 1px solid #ddd;
  }

  table tr:first-child {
    color: white;
  }
  table tr:nth-child(even) {
    color: white;
  }
  table tr:nth-child(odd):not(:first-child) {
    color: white;
  }
}

@media only screen and (max-width: 800px) {
  #main h1 {
    padding: 0;
    font-size: 2em;
  }
  #main h2 {
    font-size: 1.5em;
  }
  table {
    width: 100%;
  }
  table h3 {
    margin: 0;
  }
  table tr {
    font-size: 1em;
  }
  table tr:first-child {
    font-size: 1.5em;
  }
}
