#main h1 {
  padding-left: 1em;
  font-size: 4em;
  color: var(--main-color);
  margin: 10px 0;
}

#main h2 {
  display: block;
  text-align: center;
  font-size: 3em;
}

table {
  border-collapse: collapse;
  min-width: 60vw;
  margin: 2% auto;
}

table tr:nth-child(odd) {
  background-color: var(--border-input);
}

table tr:nth-child(even) {
  background-color: var(--bg-header-color);
}

table * {
  margin: 0;
}

table svg {
  width: 60px;
}

td:first-child {
  width: 15%;
}

td:nth-child(2) {
  width: 15%;
}

td:nth-child(3) {
  font-size: 2rem;
  color: var(--main-color);
}

td:nth-child(4) {
  font-size: 2rem;
}

td:nth-child(4) p {
  display: none;
}

td:nth-child(5) {
  font-size: 2rem;
}

td:nth-child(5) p {
  border: 2px solid var(--main-color);
  border-radius: 14px;
  padding: 0 0.5em;
  width: fit-content;
  margin: 0 4px 0 auto;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 44px;
  font-size: 1.8em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 36px;
  width: 36px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--main-color);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--main-color);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(175px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch #arrivalsText,
.switch #departuresText {
  position: absolute;
  font-weight: bold;
  top: 12%;
  left: 50px;
  margin: 0;
}

.switch #departuresText {
  color: #000;
}

.switch #arrivalsText {
  color: white;
}

#arrivalsText {
  opacity: 0;
}

input:checked~#departuresText {
  opacity: 0;
}

input:checked~#arrivalsText {
  opacity: 1;
}

button {
  padding: 10px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

.container {
  display: flex;
  margin-top: 2em;
  width: 60%;
  justify-content: space-around;
}

#fullScreenButton {
  width: fit-content;
  margin: 0 auto;
  padding: 0.5em 1em;
  font-size: 1em;
}

@media (prefers-color-scheme: light) {

  #departures p {
    color: #fff;
  }

  #departures h3 {
    color: #fff;
  }
}

@media only screen and (max-width: 800px) {
  #main h1 {
    font-size: 2em;
    padding: 0;
  }

  .container {
    width: 100%;
  }

  button {
    font-size: 1.2em;
  }

  table {
    width: 100vw;
  }

  td:nth-child(4) {
    font-size: 1rem;
  }

  td:nth-child(4) p {
    display: block;
  }

  td:nth-child(1),
  td:nth-child(2) {
    display: none;
  }
}