.tickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.ticket {
    display: flex;
    flex-direction: row;
    margin: 1%;
    background-color: var(--main-color);
}

.ticket p {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin: 20px;
}