/*a modif*/
div.tmp{
	height: 50px;
	border:  solid black 2px;
	background-color: darkgray;
}

.main{
	magin: var(--margin);
}

article{
	background-color: var(--bg-black-color);
	border-radius: var(--radius);
	width: 80vh;
	height: 300px;
	display: flex;
	margin-left: var(--margin);
	margin-top: 30px;
	margin-bottom: 30px;


}

article:nth-child(2n){
	margin-left: auto;
	margin-right: var(--margin);
}



article img{
	width: 40vh;
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: var(--margin);
	margin-right: var(--margin);
}

article div.arti{
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: var(--margin);
	margin-right: var(--margin);
}


.arti > a{
	text-decoration: none;
}
.btn{
	border: none;
	border-radius: var(--radius);
	color:  white;
	background-color: var(--main-color);
	margin-left: auto;
	margin-right: auto;
	padding: var(--margin);
	text-transform: capitalize;
	padding-left: var(--margin);
	display: flex;
	justify-content: space-between;


}

.btn p{
	margin: 0px;
	margin-left: var(--margin);
	margin-top: auto;
	margin-bottom: auto;

}

.btn img{
	width: 15px;
	height: auto;

}

article div.arti .btn{
	width: 80%;
}